---
import "../index.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PET</title>
  </head>
  <body>
    <main class="flex wrap min-h-screen w-full flex-wrap flex-col text-center m-auto items-center justify-center">
      <slot />
    </main> 
  </body>
</html>
