---
import { Title } from "../components/title";
import Main from "../layouts/Main.astro";
import { MainForm } from "../views/main";

const { page } = Astro.props;

console.log("page", page);
---

<Main>
  <Title text="A letter" />
  <MainForm client:only="react" />
</Main>
